/*LUIS*/
@font-face {
font-family: 'Brandon Grotesque';
font-weight: bolder;
src: url("fonts/brandon_grotesque/BrandonGrotesque-Black.otf") format("opentype");
}

@font-face {
font-family: 'Brandon Grotesque';
font-weight: bold;
src: url("fonts/brandon_grotesque/BrandonGrotesque-Bold.otf") format("opentype");
}

@font-face {
font-family: 'Brandon Grotesque';
font-weight: lighter;
src: url("fonts/brandon_grotesque/BrandonGrotesque-Light.otf") format("opentype");
}

@font-face {
font-family: 'Brandon Grotesque';
font-weight: inherit;
src: url("fonts/brandon_grotesque/BrandonGrotesque-Medium.otf") format("opentype");
}

@font-face {
font-family: 'Brandon Grotesque';
font-weight:  normal;
src: url("fonts/brandon_grotesque/BrandonGrotesque-Regular.otf") format("opentype");
}



@font-face {
font-family: 'Brandon Text';
font-weight: bold;
src: url("fonts/brandon_text/BrandonText-Bold.otf") format("opentype");
}

@font-face {
font-family: 'Brandon Text';
font-weight: lighter;
src: url("fonts/brandon_text/BrandonText-Light.otf") format("opentype");
}

@font-face {
font-family: 'Brandon Text';
font-weight:  normal;
src: url("fonts/brandon_text/BrandonText-Regular.otf") format("opentype");
}

@font-face {
font-family: 'Minion Pro';
font-weight:  normal;
src: url("fonts/MinionPro/MinionPro-Regular.otf") format("opentype");
}

.woocommerce-breadcrumb {
    display: none;
}

body{
  font: 13px/24px 'Open Sans', Georgia, Helvetica, sans-serif;
  font-size: 14px;
  /*	font-family: 'Brandon Text' !important;;*/
}

/*h1, h2, h3, h4, h5, h6{
	font-family: 'Brandon Grotesque' !important;;
}
*/
.languages-area img:hover {
background-color: #ff0000 !important;
}

.languages-area img {
background-color: #FFF;
}

.ORANGE{
background-image:url(images/festibox/fondo-orange.png);
}
.PINK{
background-image:url(images/festibox/fondo-pink.png);
}
.BLUE{
background-image:url(images/festibox/fondo-blue.png);
}
.BLACK{
background-image:url(images/festibox/fondo-black.png);
}
.PURPLE{
background-image:url(images/festibox/fondo-purple.png);
}
.GREEN{
background-image:url(images/festibox/fondo-green.png);
}
.YELLOW{
background-image:url(images/festibox/fondo-yellow.png);
}
.RED{
background-image:url(images/festibox/fondo-red.png);
}
.ORANGE .price,.ORANGE p,.ORANGE a,.ORANGE .product-name,.PINK .price,.PINK p,.PINK a,.PINK .product-name,.BLUE .price,.BLUE p,.BLUE a,.BLUE .product-name,.BLACK .price,.BLACK p,.BLACK a,.BLACK .product-name,.PURPLE .price,.PURPLE p,.PURPLE a,.PURPLE .product-name,.GREEN .price,.GREEN p,.GREEN a,.GREEN .product-name,.YELLOW .price,.YELLOW p,.YELLOW a,.YELLOW .product-name,.RED .price,.RED p,.RED a,.RED .product-name{
	color:#FFF!important;
}
.ORANGE a:hover,.PINK a:hover,.BLUE a:hover,.BLACK a:hover,.PURPLE a:hover,.GREEN a:hover,.YELLOW a:hover,.RED a:hover{
	color: #F00!important;
}
.ORANGE .owl-controls,.ORANGE .sku_wrapper,.ORANGE .posted_in,.ORANGE .tagged_as,.PINK .owl-controls,.PINK .sku_wrapper,.PINK .posted_in,.PINK .tagged_as,.BLUE .owl-controls,.BLUE .sku_wrapper,.BLUE .posted_in,.BLUE .tagged_as,.BLACK .owl-controls,.BLACK .sku_wrapper,.BLACK .posted_in,.BLACK .tagged_as,.PURPLE .owl-controls,.PURPLE .sku_wrapper,.PURPLE .posted_in,.PURPLE .tagged_as,.GREEN .owl-controls,.GREEN .sku_wrapper,.GREEN .posted_in,.GREEN .tagged_as,.YELLOW .owl-controls,.YELLOW .sku_wrapper,.YELLOW .posted_in,.YELLOW .tagged_as,.RED .owl-controls,.RED .sku_wrapper,.RED .posted_in,.RED .tagged_as{
	display:none!important;
}
h1{
	font-weight: bold!important;
}
h3{
	font-weight: bold!important;
}
a.btn.border-grey.progress-button.etheme_add_to_cart_button.product_type_simple:hover {
border-color: white;
background: white;
font-weight: bold;
}

.corta{
color: white;
min-height: 72px;
line-height: 20px;
}
.content-product {
padding-top: 10px;
padding-bottom: 10px;
}
.fest_img {display: inline-block;width: 70%;padding-top: 20px;}

.fes_detalles {display: inline-block;vertical-align: top;text-align:center;padding-left: 20px;width: 345px;margin-top: 60px;}
.fes_detalles div {
padding-bottom:20px;
}
.fes_detalles div h3{
	border-bottom:1px #757575 solid;
}
.fes_detalles div h3 span{
	background-color: #757575;
	color: #FFF;
	padding: 3px;
	width: 189px;
	display: inline-block;
}
.fes_detalles a, .fest_img a {
  color: inherit;
}  

.fes_detalles span {
  width: 190px;
  display: block;
  margin: auto;
}
ul.cajas_list li {
display: inline;
}
.comprar {
color: #FFF;
border-style: solid;
border-width: 1px;
padding: 5px;
display: none;
}
.comprar:before,.comprar:after{
display:none!important
}
.comprar:hover {
border-color: white;
background: white;
font-weight: bold;
text-decoration: none;
}
/*.festival_logo:hover{
transition: all 0.25s ease;
background: #c1c1c1;
text-align: center;
color: #fff;
font-size: 12px;
cursor: pointer;
line-height: 33px;
border-radius: 30px;
-webkit-transition: background 0.25s ease;
-ms-transition: background 0.25s ease;
-o-transition: background 0.25s ease;
transition: background 0.25s ease;
}
*/.festival_logo {
    display: inline-block;
    padding: 5px;
    width:19%;
    min-height: 200px;
    min-width: 180px;
    vertical-align: top;
	text-align:center;
}
.festival_logo img {
border: 2px solid grey;
margin: 0;
padding: 0;
border-radius: 160px;
overflow: hidden;
}

.filtro_festivales{
	padding-bottom: 20px;
	display:inline-block;
	 width: 100%;
	 text-align: center;
}
.filtro_festivales form{
	width:100%;
	display:inline;
}
.filtro_festivales label{
	text-transform:uppercase;
	display:block;
	font-size: 14px;
}
.filtro_festivales div{
	display:inline-block;
	padding-left: 3px;
    padding-right: 3px;
}
.filtro_festivales select {
  font-size: 10px;
}
.reservas:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #252525;
}
.reservas {
  display: block;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 10px;
  border: 1px solid #d5d5d5;
  height: 39px;
  width: 100%;
}
.orange_box{
	color:#F90!important;
	font-weight:bold;
}
.pink_box{
	color: #F3C!important;
	font-weight:bold;
}
.red_box{
	color: #F00!important;
	font-weight:bold;
}
.green_box{
	color: #0C0!important;
	font-weight:bold;
}
.yellow_box{
	color: #C7C714!important;
	font-weight:bold;
}
.purple_box{
	color: #C3F!important;
	font-weight:bold;
}
.black_box{
	color:#000!important;
	font-weight:bold;
}
.blue_box{
	color: #09F!important;
	font-weight:bold;
}
figcaption, .pp_description{
	display:none!important;
}
.hidden-form {
	display:none!important;
}
.main-footer li {
  border: 0px;
}
.main-footer .widget_nav_menu {
  display: inline-block;
  width: 27%;
  padding: 5px;
  vertical-align: top;
}
.main-footer li.current-menu-item a {
  background-color: inherit;
  color: #fff!important;
}
.white-popup-block {
	background-image: none;
}
.mfp-content .checkbox-label {
  display: none;
}

.main-footer .widget_nav_menu li a, .main-footer .widget_nav_menu .widget-title {
	font-size:inherit;
}
.order-review {
  margin-top: 0px;
  padding: 0px;
  border: 0px;
}

.single_variation_wrap div {
  margin: 0px;
}

.wp-picture.peq {
  width: auto!important;
}
.wpb_single_image.wpb_content_element {
  text-align: center;
}
.sidebar .widget-container {
  padding-bottom: 10px;
}
.product_meta > span {
  display: none;
}
.et_isotope-item.col-lg-4.isotope-item {
  text-align: center;
  background-color: ;
  height: 300px;
}
.teaser-post-info.post-title {
  text-align: left;
  margin-left: 0px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0);
}
.link_title {
  text-align: ;
  font-size: 11px;
}
.attachment-thumbnail.size-thumbnail.wp-post-image:hover{
	    transform : scale(1.03);
        -moz-transform : scale(1.03);      /* Firefox */
        -webkit-transform : scale(1.03);   /* Chrome - Safari */
        -o-transform : scale(1.03);        /* Opera */
}
.post-title {
	font-size: 13px;
	font-weight: 500;
	background-color: rgba(204, 204, 204, 0.52);
	margin-top:	0px;
}
.attachment-thumbnail.size-thumbnail.wp-post-image {
	width: 210px;
	height:	170px;
}
.et_isotope-item.col-lg-4.isotope-item.with-transition {
	height:	130px;
}
.stock.in-stock {
	font-size: 20px;
	color: #cda85c
}
.amount {
	padding-top: 5px;
	color: #af872d;
}

.banners img{
	max-width: 100%;
   -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.banners:hover img{
	-moz-transform: scale(1.06);
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

.banners_1 {
   -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-left: -10px;
    margin-right: -10px;
   }
.banners_1:hover {
	color:#C90;
      -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
    
      }
	  
.banners_2 {
   -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-left: -15px;
    margin-right: -15px;
   }
.banners_2:hover {
	color:#C90;
      -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
    
      }
	  
.navbar-header.navbar-right {
	width: 10%;

}

.fondo_caja {
	background: center;
}

.margen_texto {
	margin: 15px;
}

.titulo_evento {
	font-size: 25px;
}
.elige_gama {
	font-size: 20px;
}
.texto_festibox {
	text-align:center;
}
.vc_custom_1481536514663 {
	background-color: rgba(103, 58, 183, 0.18);
}
.teatro_pestaÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â±as { 
	background-color: rgba(103, 58, 183, 0.18);
}

.descripcion {
	padding-left: 20px;
    padding-right: 20px;
}
.colas {
	margin-left: -10px;
	margin-right: -10px;
}
.colas :hover img {
	-moz-transform: scale(1.015);
	-webkit-transform: scale(1.015);
	transform: scale(1.015);
}
.topventas {
	margin-top: -15px;
}
.btn.active.big.filled.show-quickly {
	display: none;
}
.footer-sidebar-widget.widget_simpleimage {
	float:left;
	margin-right: 50px;
}


@media only screen and (min-width: 680px){

.pestanas_gamas_responsive {
	display: none;
}
.eligegama {
	display: none;
}
.size-full.wp-image-30100.aligncenter {
  display: none;
}
.alignnone.size-full.wp-image-30242 { 
	display:	none;
	width:	100%;
	text-align:center;
}
.slide_responsive {
	display: none;
}
}
@media only screen and (max-width: 768px) {
.banners_1 {
	display: none;
}
.vc_tta-color-black.vc_tta-style-modern .vc_tta-panel .vc_tta-panel-title>a {
	background: #af872d;
	color: #FFF;
}
.vc_tta-color-black.vc_tta-style-modern .vc_tta-panel.vc_active .vc_tta-panel-title>a {
	color:#FFF;
}
.main-footer .widget_nav_menu .widget-title {
	text-align:center;
	padding-bottom: 0px;
}

/*@media only screen and (min-width: 520px) {
.vc_column_container>.vc_column-inner {
	margin-left: 13%;
	width: 75%;
}

}
*/
.footer-sidebar-widget.widget_simpleimage {
	text-align:center;
	margin-right: 0px;
	float:none;
}


@media only screen and (max-width: 680px) {
.colastodo {
	display: none;
}
.pestaÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â±as_sinfoto {
	display:none;
}
.slide6 {
	display: none;
}

.teaser_grid_container .post-thumb {
	width: 225px;
}
.checkbox {
	font-size:14px;
}
.emodal {
	top: 20%;
}
.product-information .cart button[type="submit"] {
	margin-left: 10px;
}

input[type="text"] {
	width: 60%;
	margin: 15px;
}
form.wpcf7-form input, form.wpcf7-form textarea {
	margin: 0px;
}
.button, input[type=submit] {
	width: 100%;
}
.button, input[type=submit]:hover {
	width: 100%;
}

.badge-number {
	margin-right: 0px;
	margin-top: 12px;
}

.shop_table .shipping th {
	width: 30%;
}

.actions input.btn {
	width: 100%;
}
.banners_1 {
	display: none;
}
.emodal img {
	max-width: 220px;
	text-align:center;
}
.emodal.emodal-text {
	text-align:center;
}

.elige_gama {
	font-size: 17px;
}	

.main-footer .widget_nav_menu {
  display: inline-block;
  width: 100%;
  padding: 5px;
  vertical-align: top;
  text-align:center;
}
.vc_non_responsive .vc_row .vc_col-sm-3 {
	width:100%;
}
.vc_non_responsive .vc_row .vc_col-sm-4 {
	width:100%;
}
.vc_non_responsive .vc_row .vc_col-sm-8 {
	width:100%;
}
.wpb_single_image.wpb_content_element {
	display: none;
}
.master-slider-parent {
	display: none;
}
.vc_non_responsive .vc_row .vc_col-sm-6 {
	width:100%;
}
h3 {
	font-size: 9px;

}
.product-information .short-description {
	width:100%;
}
.issuuembed.issuu-isrendered {
	width:100%;
}
.bag-total-table tbody > tr > td:last-child {
  text-align: right;
  /* padding-left:20%; */
}
.shop_table thead tr > th:last-child {
  text-align: center;
}

.shop_table thead > tr > td:first-child {
  text-align: center;
}
.shop_table tbody > tr > td:last-child {
  text-align: center;
}
.shop_table tr > td {
   text-align: center;
}
.alignnone.size-full.wp-image-30098 {
	display:	none;
}
.fa.fa-search {
	display:	none;
}
}
@media only screen and (max-width: 991px) {
.teaser_grid_container .post-thumb {
	width: 215px;
}
.fest_img, .fest_img .wp-picture {
width: 100%;
}
.fes_detalles {
padding-left: 0px;
width:100%;
}
.fes_detalles div {
display: inline-block;
/*width: 19%;*/
min-width: 141px;
vertical-align: top;
}
a.btn.active.big.filled.com_fest {
  display: none;
}

/** LUIS 20160204 *****/

.menu > li > a {
	padding-left:5px!important;
	padding-right:5px!important;
}
.navbar-collapse {
    padding-left: 0!important;
}

a#seleccionar_festival_button, a#seleccionar_alojamiento_button {
    display: block;
    margin: 5px;
}
select#fff, select#ffi, select#faf, select#fai {
    width: 148px;
    align-items: center;
    text-align: center;
}
.stock {
    font-size: initial;
}
select.input-text.qty.text {
    width: 100%;
}
}

